<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pack.store.mapper.AddressMapper">
    <resultMap id="BaseResultMap" type="org.pack.store.entity.AddressEntity">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="contact" jdbcType="VARCHAR" property="contact" />
        <result column="sex" jdbcType="CHAR" property="sex" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
        <result column="city_name" jdbcType="VARCHAR" property="cityName" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="default_address" jdbcType="CHAR" property="defaultAddress" />
        <result column="ts" jdbcType="TIMESTAMP" property="ts" />
    </resultMap>

    <select id="getById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from t_address where id =#{id}
    </select>

    <select id="queryMyAddress" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from t_address where user_id =#{userId}
    </select>

    <update id="updateMyAddress" parameterType="org.pack.store.requestVo.AddressReq">
        update t_address
        <set>
            <if test="contact !=null and contact !=''">
                contact =#{contact},
            </if>
            <if test="sex !=null and sex !=''">
                sex =#{sex},
            </if>
            <if test="phone !=null and phone !=''">
                phone = #{phone},
            </if>
            <if test="cityCode !=null and cityCode !=''">
                city_code = #{cityCode},
            </if>
            <if test="cityName !=null and cityName !=''">
                city_name = #{cityName},
            </if>
            <if test="address !=null and address !=''">
                address = #{address},
            </if>
            <if test="defaultAddress !=null and defaultAddress !=''">
                default_address = #{defaultAddress},
            </if>
        </set>
        where id=#{id}
    </update>

    <insert id="insertMyAddress" parameterType="org.pack.store.entity.AddressEntity">
        insert into t_address(id,user_id,contact,sex,phone,city_code,city_name,address,default_address,ts) values
        (#{id},#{userId},#{contact},#{sex},#{phone},#{cityCode},#{cityName},#{address},#{defaultAddress},#{ts})
    </insert>

    <select id="queryAdressByUserIdAndDefalust" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from t_address where user_id=#{userId} and default_address='Y'
    </select>

    <update id="updateAddress" parameterType="org.pack.store.entity.AddressEntity">
        update t_address
        <set>
            <if test="contact !=null and contact !=''">
                contact =#{contact},
            </if>
            <if test="sex !=null and sex !=''">
                sex =#{sex},
            </if>
            <if test="phone !=null and phone !=''">
                phone = #{phone},
            </if>
            <if test="cityCode !=null and cityCode !=''">
                city_code = #{cityCode},
            </if>
            <if test="cityName !=null and cityName !=''">
                city_name = #{cityName},
            </if>
            <if test="address !=null and address !=''">
                address = #{address},
            </if>
            <if test="defaultAddress !=null and defaultAddress !=''">
                default_address = #{defaultAddress},
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="delAddressInfo" parameterType="org.pack.store.requestVo.DelAddressReq">
        delete from t_address where id=#{addressId} and user_id=#{userId}
    </delete>

</mapper>