<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pack.store.mapper.MembershipMapper">
    <resultMap id="BaseResultMap" type="org.pack.store.entity.MembershipEntity">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="mobile" jdbcType="VARCHAR" property="mobile" />
        <result column="member_type" jdbcType="VARCHAR" property="memberType" />
        <result column="member_name" jdbcType="VARCHAR" property="memberName" />
        <result column="card_no" jdbcType="VARCHAR" property="cardNo" />
        <result column="amount" jdbcType="DECIMAL" property="amount" />
        <result column="start_time" jdbcType="DATE" property="startTime" />
        <result column="end_time" jdbcType="DATE" property="endTime" />
        <result column="dr" jdbcType="VARCHAR" property="dr" />
    </resultMap>

    <select id="queryMembershipByPageList" parameterType="org.pack.store.requestVo.MembershipListReq" resultMap="BaseResultMap">
        select * from t_membership where dr='0'
        <if test="mobile !=null and mobile !=''">
            and mobile=#{mobile}
        </if>
        <if test="memberType !=null and memberType !=''">
            and member_type =#{memberType}
        </if>
    </select>

    <insert id="insertMembershipInfo" parameterType="org.pack.store.entity.MembershipEntity">
        insert into t_membership(id,mobile,member_type,member_name,card_no,amount,start_time,end_time,dr)
         values (#{id},#{mobile},#{memberType},#{memberName},#{cardNo},#{amount},#{startTime},#{endTime},#{dr})
    </insert>

    <select id="getMembershipByPageCount" parameterType="org.pack.store.requestVo.MembershipListReq" resultType="java.lang.Integer">
        select count(*) from t_membership where dr='0'
        <if test="mobile !=null and mobile !=''">
            and mobile=#{mobile}
        </if>
    </select>

    <select id="getMoblieAndMemberType" parameterType="java.lang.String" resultType="org.pack.store.entity.MembershipEntity">
        select * from t_membership where mobile=#{mobile} and member_type=#{memberType} and dr='0'
    </select>

    <update id="doRechages" parameterType="org.pack.store.entity.MembershipEntity">
        update t_membership set amount =#{amount} where id=#{id}
    </update>

    <select id="getMemberTypeAndCardNo" parameterType="org.pack.store.entity.MembershipEntity" resultMap="BaseResultMap">
        select * from t_membership where mobile=#{mobile} and member_type=#{memberType} and card_no=#{cardNo} and dr='0'
    </select>

</mapper>