<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pack.store.mapper.MemberMapper">


    <select id="queryMember" parameterType="string" resultType="com.alibaba.fastjson.JSONObject">
        select user_id,open_id,avatar_url avatarUrl,nick_name nickName,mobile,invitation_code invitationCode from t_user
        where open_id = #{openId}
    </select>

    <insert id="insertMember" parameterType="org.pack.store.entity.MemberCardEntity">
        insert into t_user(user_id,open_id,user_name,mobile,user_type,invitation_code) values (#{userId},#{openId},#{userName},#{mobile},#{userType},#{invitationCode})
    </insert>

    <select id="queryMoblie" parameterType="string" resultType="com.alibaba.fastjson.JSONObject">
        select user_id,open_id,mobile,invitation_code invitationCode from t_user where open_id = #{openId}
    </select>

    <update id="updateMember" parameterType="com.alibaba.fastjson.JSONObject">
        update t_user set avatar_url =#{avatarUrl},nick_name=#{nickName} where open_id =#{openId}
    </update>


</mapper>