<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pack.store.mapper.MemberCardMapper">
    <resultMap id="BaseResultMap" type="org.pack.store.entity.MemberCardEntity">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="member_type" jdbcType="VARCHAR" property="memberType" />
        <result column="member_name" jdbcType="VARCHAR" property="memberName" />
        <result column="card_no" jdbcType="VARCHAR" property="cardNo" />
        <result column="create_time" jdbcType="DATE" property="createTime" />
        <result column="dr" jdbcType="VARCHAR" property="dr" />
    </resultMap>

    <select id="queryMemberCardAll" parameterType="org.pack.store.requestVo.MemberCardListReq" resultMap="BaseResultMap">
        select * from t_member_card where 1=1
        <if test="memberType !=null and memberType !=''">
            and member_type=#{memberType}
        </if>
        <if test="dr !=null and dr !=''">
            and dr=#{dr}
        </if>
    </select>

    <insert id="insertMemberCard" parameterType="org.pack.store.entity.MemberCardEntity">
        insert into t_member_card(id,member_type,member_name,card_no,create_time,dr) values (#{id},#{memberType},#{memberName},#{cardNo},#{createTime},#{dr})
    </insert>

    <select id="queryMemberCardAllByCount" parameterType="org.pack.store.requestVo.MemberCardListReq" resultType="java.lang.Integer">
        select count(*) from t_member_card where 1=1
        <if test="memberType !=null and memberType !=''">
            and member_type=#{memberType}
        </if>
        <if test="dr !=null and dr !=''">
            and dr=#{dr}
        </if>
    </select>

    <select id="getCardNo" parameterType="java.lang.String" resultType="org.pack.store.entity.MemberCardEntity">
        select * from t_member_card where card_no=#{cardNo} and dr='1'
    </select>

    <update id="updataMemberCardInfo" parameterType="org.pack.store.entity.MemberCardEntity">
        update t_member_card set dr=#{dr} where id =#{id}
    </update>

</mapper>