<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pack.store.mapper.MemberMapper">


    <select id="queryMember" parameterType="string" resultType="com.alibaba.fastjson.JSONObject">
        select user_name userName,mobile from t_user
        where open_id = #{openId}
    </select>

    <insert id="insertMember" parameterType="org.pack.store.entity.MemberCardEntity">
        insert into t_user(user_id,open_id,mobile,nick_name,user_type) values (#{userId},#{openId},#{mobile},#{nickName},#{userType})
    </insert>



</mapper>