<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pack.store.mapper.OrderMapper">

    <select id="getByOrderId" parameterType="java.lang.String" resultType="com.alibaba.fastjson.JSONObject">
        select order_id orderId, order_serial orderSerial, store_phone storePhone,
      receive_name receiveName, receive_phone receivePhone, receive_address receiveAddress,
      receive_lat receiveLat, receive_lng receiveLng, pay_mode payMode, total_price totalPrice, preferences_price preferencesPrice,
      integral_price integralPrice, delivery_fee deliveryFee, es_arrive_time esArriveTime,order_status orderStatus,
      remark from t_order where order_id =#{orderId} and open_id = #{openId} and dr=0
    </select>

    <insert id="placeOrder" parameterType="com.alibaba.fastjson.JSONObject">
    insert into t_order (order_id, order_serial, store_id,
      store_name,store_address,store_phone, open_id,
      receive_name, receive_phone, receive_address,
      receive_lat, receive_lng,total_price, preferences_price,
      integral_price, delivery_fee, es_arrive_time,
      remark, create_time)
    values (#{orderId,jdbcType=VARCHAR}, #{orderSerial,jdbcType=INTEGER}, #{storeId,jdbcType=VARCHAR},
      #{storeName,jdbcType=VARCHAR},#{storeAddress,jdbcType=VARCHAR},#{storePhone,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR},
      #{receiveName,jdbcType=VARCHAR}, #{receivePhone,jdbcType=VARCHAR}, #{receiveAddress,jdbcType=VARCHAR},
      #{receiveLat,jdbcType=DECIMAL}, #{receiveLng,jdbcType=DECIMAL},
      #{totalPrice,jdbcType=DECIMAL}, #{preferencesPrice,jdbcType=DECIMAL},
      #{integralPrice,jdbcType=DECIMAL}, #{deliveryFee,jdbcType=DECIMAL}, #{esArriveTime,jdbcType=VARCHAR},
      #{remark,jdbcType=VARCHAR}, now())
    </insert>
    <insert id="insertSelfOrder" parameterType="com.alibaba.fastjson.JSONObject">
        insert into t_order (order_id, order_serial, store_id,
          store_name,store_address,store_phone, open_id,
          self_time,reservation_tel,delivery_mode,
          receive_lat, receive_lng,total_price, preferences_price,
          integral_price, delivery_fee,
          remark, create_time)
        values (#{orderId,jdbcType=VARCHAR}, #{orderSerial,jdbcType=INTEGER}, #{storeId,jdbcType=VARCHAR},
          #{storeName,jdbcType=VARCHAR},#{storeAddress,jdbcType=VARCHAR},#{storePhone,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR},
          #{selfTime,jdbcType=VARCHAR},#{reservationTel,jdbcType=VARCHAR},#{deliveryMode,jdbcType=TINYINT},
          #{receiveLat,jdbcType=DECIMAL}, #{receiveLng,jdbcType=DECIMAL},
          #{totalPrice,jdbcType=DECIMAL}, #{preferencesPrice,jdbcType=DECIMAL},
          #{integralPrice,jdbcType=DECIMAL}, #{deliveryFee,jdbcType=DECIMAL},
          #{remark,jdbcType=VARCHAR}, now())
    </insert>

    <insert id="insertDetail" parameterType="java.util.List">
        insert into t_order_detail(id,order_id,gooods_id,goods_name,goods_number,goods_price,goods_img,create_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.orderId},#{item.gooodsId},#{item.goodsName},#{item.goodsNumber},#{item.goodsPrice},#{item.goodsImg},now())
        </foreach>
    </insert>

    <select id="goodsDetail" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            goods_name goodsName,
            goods_number goodsNumber,
            goods_price goodsPrice,
            goods_img goodsImg
        FROM
            t_order_detail
        WHERE
            order_id = #{orderId}
    </select>
    <update id="editOrder" parameterType="com.alibaba.fastjson.JSONObject">
        update t_order
        <set>
            <if test="orderStatus != null">
                order_status = #{orderStatus}
            </if>
            <if test="payMode != null">
                pay_mode = #{payMode}
            </if>
        </set>
        where order_id = #{orderId}
    </update>
    <!--支付流水-->
    <insert id="inertTrans" parameterType="com.alibaba.fastjson.JSONObject">
        INSERT INTO t_transaction_detail (
        id,
        user_id,
        order_id,
        amount,
        STATUS,
        in_out,
        remark,
        ts
    )
    VALUES
        (
            #{id},#{userId},#{orderId},#{amount},#{status},#{inOut},#{remark},now())
    </insert>
    <!--下单扣余额-->
    <update id="updateBalance" parameterType="com.alibaba.fastjson.JSONObject">
        update t_membership set amount=amount-#{money} where id=#{id} and amount-#{money} > 0
    </update>
    <!-- 查询个人所有订单列表信息-->
    <select id="queryOrderByOpenIdAll" parameterType="java.lang.String" resultType="com.alibaba.fastjson.JSONObject">
        select order_id orderId,total_price totalPrice,
        (CASE order_status WHEN 0 THEN '待支付'
        WHEN 1 THEN '分拣中'
        WHEN 2 THEN '派送中'
        WHEN 3 THEN '已完成'
        WHEN 4 THEN '已取消'
        ELSE '已退款' END) orderStatus,
        DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') createTime from t_order where open_id=#{openId} and dr=0 order by create_time desc
    </select>
    <!--查询个人待支付所有订单列表信息 -->
    <select id="queryOrderByOpenIdAndPending" parameterType="java.lang.String" resultType="com.alibaba.fastjson.JSONObject">
        select order_id orderId,total_price totalPrice,
        (CASE order_status WHEN 0 THEN '待支付'
        WHEN 1 THEN '分拣中'
        WHEN 2 THEN '派送中'
        WHEN 3 THEN '已完成'
        WHEN 4 THEN '已取消'
        ELSE '已退款' END) orderStatus,
        DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') createTime from t_order
        where open_id=#{openId} and order_status =0 and dr=0 order by create_time desc
    </select>

    <select id="queryOrderByOpenIdAndReceipt" parameterType="java.lang.String" resultType="com.alibaba.fastjson.JSONObject">
        select order_id orderId,total_price totalPrice,
        (CASE order_status WHEN 0 THEN '待支付'
        WHEN 1 THEN '分拣中'
        WHEN 2 THEN '派送中'
        WHEN 3 THEN '已完成'
        WHEN 4 THEN '已取消'
        ELSE '已退款' END) orderStatus,
        DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') createTime from t_order
        where open_id=#{openId} and order_status in (1,2) and dr=0 order by create_time desc
    </select>

    <select id="queryOrderDetail" parameterType="java.lang.String" resultType="com.alibaba.fastjson.JSONObject">
        select gooods_id goodsId,goods_name goodsName,goods_img goodsImg,goods_number goodsNumber,goods_price goodsPrice
        from t_order_detail where order_id=#{orderId}
    </select>

    <select id="queryOrderInfo" parameterType="java.lang.String" resultType="com.alibaba.fastjson.JSONObject">
        select order_id orderId, order_serial orderSerial,store_name storeName,store_address storeAddress,
      receive_name receiveName, receive_phone receivePhone, receive_address receiveAddress,
      receive_lat receiveLat, receive_lng receiveLng, pay_mode payMode,self_time selfTime,reservation_tel reservationTel,
      delivery_mode deliveryMode,total_price totalPrice, preferences_price preferencesPrice,
      integral_price integralPrice, delivery_fee deliveryFee, es_arrive_time esArriveTime,order_status status,
      (CASE order_status WHEN 0 THEN '待支付'
        WHEN 1 THEN '分拣中'
        WHEN 2 THEN '派送中'
        WHEN 3 THEN '已完成'
        WHEN 4 THEN '已取消'
        ELSE '已退款' END) orderStatus,
        DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') createTime,
      remark from t_order where order_id =#{orderId} and open_id = #{openId} and dr=0
    </select>

    <select id="queryOrderDeliveryInfo" parameterType="java.lang.String" resultType="com.alibaba.fastjson.JSONObject">
        select rider_name riderName,rider_phone riderPhone,rider_img riderImg from t_order_delivery where order_id=#{orderId}
    </select>

    <update id="deleteOrderInfo" parameterType="java.lang.String">
        update t_order set dr =1 where order_id=#{orderId} and open_id=#{openId}
    </update>
    <update id="cancelOrder" parameterType="java.lang.String">
        update t_order set order_status = 4 where order_id = #{orderId} and order_status = 0
    </update>

    <select id="queryOrderPending" parameterType="java.lang.String" resultType="com.alibaba.fastjson.JSONObject">
        select order_id as orderId,order_status as orderStatus,pay_mode as payMode,
        total_price as totalPrice,preferences_price as preferencesPrice,integral_price as integralPrice,
        delivery_fee as deliveryFee from t_order where order_id=#{orderId} and open_id=#{openId} and order_status=0
    </select>


    <!-- 后台管理系统订单模块接口-->
    <select id="queryOrderList" parameterType="org.pack.store.requestVo.OrderListReq" resultType="com.alibaba.fastjson.JSONObject">
        select order_id as orderNo,receive_name as receiveName,receive_phone as receivePhone,order_status as orderStatus,
        pay_mode as payMode,total_price as totalPrice,preferences_price as preferencesPrice,integral_price as integralPrice,
        delivery_fee as deliveryFee,create_time as createTime,es_arrive_time as esArriveTime from t_order where dr=0
        <if test="beginTime !=null and beginTime !=''">
            <![CDATA[
              and DATE_FORMAT(create_time, '%Y-%m-%d %H:%i:%s') >=  DATE_FORMAT(#{beginTime}, '%Y-%m-%d %H:%i:%s')
            ]]>
        </if>
        <if test="endTime !=null and endTime !=''">
            <![CDATA[
              and DATE_FORMAT(create_time, '%Y-%m-%d %H:%i:%s') <=  DATE_FORMAT(#{endTime}, '%Y-%m-%d %H:%i:%s')
            ]]>
        </if>
        <if test="orderNo !=null and orderNo !=''">
            and order_id =#{orderNo}
        </if>
        <if test="orderState !=null and orderState !=''">
            and order_status =#{orderState}
        </if>
        order by create_time desc
    </select>

    <insert id="insertOrderDelivery" parameterType="com.alibaba.fastjson.JSONObject">
        INSERT INTO t_order_delivery (
        order_id,
        rider_name,
        rider_phone,
        rider_img,
        grab_time,
        delivery_time)
    VALUES
        (
            #{orderId},#{riderName},#{riderPhone},#{riderImg},now(),now())
    </insert>

    <update id="updateOrderStatus" parameterType="java.lang.String">
        update t_order set order_status = 2 where order_id = #{orderId}
    </update>

    <update id="updateOrderStatusByEnd" parameterType="java.lang.String">
        update t_order set order_status = 3 where order_id = #{orderId}
    </update>

    <select id="queryOrderByOrderId" parameterType="java.lang.String" resultType="com.alibaba.fastjson.JSONObject">
        select order_id AS orderId,open_id AS openId,total_price AS totalPrice from t_order where order_id = #{orderId} and dr=0
    </select>

</mapper>